In [1]:
from py2neo import Node, Relationship, Graph
my_graph = Graph("http://neo4j:password@localhost:7474/")

In [2]:
import pandas as pd

In [3]:
for i in my_graph.run("start n=node(*)"\
              "match (n:Topic)-[r:BELONGS_TO]-(:Message)"\
               "return n,count(r) as rel_count "\
               "order by rel_count desc"
):
    print(i.values())

((f221aff:Topic:name {name:"Topic 18"}), 7863)
((d428305:Topic:name {name:"Topic 19"}), 5942)
((e2e87fb:Topic:name {name:"Topic 11"}), 5927)
((bfe9664:Topic:name {name:"Topic 17"}), 5582)
((ae3e0d5:Topic:name {name:"Topic 8"}), 5339)
((be83b1b:Topic:name {name:"Topic 4"}), 4596)
((c9b8064:Topic:name {name:"Topic 2"}), 3800)
((d5166bd:Topic:name {name:"Topic 1"}), 3796)
((f2a7c11:Topic:name {name:"Topic 13"}), 3344)
((fca4347:Topic:name {name:"Topic 14"}), 3285)
((d3ca138:Topic:name {name:"Topic 10"}), 3219)
((c1f8bb2:Topic:name {name:"Topic 16"}), 2861)
((d995ab4:Topic:name {name:"Topic 9"}), 2814)
((d6cff3b:Topic:name {name:"Topic 7"}), 2691)
((f3933fc:Topic:name {name:"Topic 15"}), 2431)
((d230d31:Topic:name {name:"Topic 6"}), 1995)
((c7f82e1:Topic:name {name:"Topic 3"}), 1919)
((dec64a4:Topic:name {name:"Topic 12"}), 1707)
((ca42829:Topic:name {name:"Topic 5"}), 1335)

In [4]:
import py2neo
my_graph = Graph("http://neo4j:password@localhost:7474/")
df= pd.DataFrame(my_graph.run("match (p1:Person)-[:SENT]-(m:Message)-[:TO]-(p2:Person), (m:Message)-[]-(t:Topic{name:'Topic 8'})"\
                         "where m.subject <> 're:'"\
                         "return p1.name AS `From`, p2.name AS `to`, m.subject AS `Subject`").data())

In [5]:
df.to.value_counts()

jane.tholt@enron.com                                      582
matthew.lenhart@enron.com                                 516
mike.grigsby@enron.com                                    490
tori.kuykendall@enron.com                                 440
jay.reitmeyer@enron.com                                   415
phillip.allen@enron.com                                   387
frank.ermis@enron.com                                     371
keith.holst@enron.com                                     364
randall.gay@enron.com                                     324
matt.smith@enron.com                                      235
susan.scott@enron.com                                     231
patti.sullivan@enron.com                                  229
p..south@enron.com                                        216
chad.landry@enron.com                                     181
barry.tycholiz@enron.com                                  181
bryan.hull@enron.com                                      178
eric.bass@enron.com                                       163
mmmarcantel@equiva.com                                    158
monique.sanchez@enron.com                                 158
mog.heu@enron.com                                         152
jason.wolfe@enron.com                                     145
stephanie.miller@enron.com                                143
timothy.blanchard@enron.com                               140
jason.huang@enron.com                                     137
lisa.gillette@enron.com                                   133
luis.mena@enron.com                                       115
ina.rangel@enron.com                                      104
daniel.lisk@enron.com                                      99
steven.south@enron.com                                     95
shelly.mendel@enron.com                                    82
                                                         ...
fran.deltoro@enron.com                                      1
canter.doug@enron.com                                       1
hoffstetter.amanda@enron.com                                1
janet.peake@enron.com                                       1
melissa.mcpherson@enron.com                                 1
carlson.tom@enron.com                                       1
frank.zappala@enron.com                                     1
bmccabe@dlj.com                                             1
steve.montovano@enron.com                                   1
sanchayita.ray@enron.com                                    1
mcgrew.james@enron.com                                      1
kim.perkins@enron.com                                       1
how-downing.lindsey@enron.com                               1
jhavila.houston_fannin1_po.central_dom@firstunion1.com      1
barry.lewis@enron.com                                       1
'.'campbell@enron.com                                       1
dkgould@telusplanet.net                                     1
trifon.james@enron.com                                      1
sunnysit@telusplanet.net                                    1
dinah.schlecht@enron.com                                    1
jeffrey.mcmahon@enron.com                                   1
rudy.acevedo@enron.com                                      1
felipe.jens@enron.com                                       1
kischa.gipson@enron.com                                     1
edwards.kathie@enron.com                                    1
cpentelichuk@home.com                                       1
murli.nagwani@enron.com                                     1
mary.silva@enron.com                                        1
black.larry@enron.com                                       1
p.jachimiak@enron.com                                       1
Name: to, dtype: int64

In [7]:
df.head()

,From,Subject,to
0,matthew.lenhart@enron.com,re: fw: fw: fw: the moves],bryan.hull@enron.com
1,matthew.lenhart@enron.com,re: friday,bryan.hull@enron.com
2,matthew.lenhart@enron.com,re: golf,bryan.hull@enron.com
3,matthew.lenhart@enron.com,re: lsu ticket,bryan.hull@enron.com
4,matthew.lenhart@enron.com,re: a picture is worth a thousand words,bryan.hull@enron.com

In [9]:
import networkx as nx

In [10]:
%matplotlib inline

In [12]:
test_nx = nx.from_pandas_dataframe(df, "From", "to", "Subject")

In [ ]:
nx.draw(test_nx)